@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.active {
  background-color: var(--cardBG);
  box-shadow: 0px 0px 10px rgba(89, 206, 143, 0.5);
}

.buttonHover {
  background-color: #029245;
  color: white;
  border: 1px solid #fff;
}

.defaultButton {
  @apply shadow-sm shadow-green-600  rounded-[15px] hover:bg-[#00a94f]  transition-all duration-500;
}
.liveLinkButton {
  @apply shadow-sm shadow-red-600  rounded-[15px] hover:bg-red-600  transition-all duration-500;
}
.defaultButtonReverse {
  @apply shadow-sm shadow-white  rounded-[15px] hover:bg-transparent hover:shadow-[#00a94f] transition-all duration-500;
  background-color: #00a94f;
  color: white;
}

.navBtn {
  @apply rounded-[15px] py-2 px-4;
}

.paragraph {
  @apply sm:text-start md:text-justify sm:text-sm md:text-lg;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 166.667% */
  letter-spacing: 1.6px;
}

.bodyFont {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.socialMediaIcon {
  width: 90%;
  height: 90%;
}
.linkStyle {
  @apply md:w-10 md:h-10  sm:w-9 sm:h-9 p-2 rounded-full hover:scale-90 shadow-sm shadow-green-600 transition-transform;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smResImg {
  @apply sm:w-40  sm:opacity-95  hover:opacity-100;
}

.flexCenter {
  @apply flex justify-center items-center;
}
